.AdventuresContainer {
    background-color: white;
}

.when-where-subhead {
    display: flex;
}
.when-where-subhead p{
    margin-right: 10px;
}
.description {
    font-size: .75rem;
}
#show-modal-header .modal-title{
    padding-left: 0;
}
#show-button .btnd:focus, .btnd:active, .btnd.active, .btnd:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }