@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

#addButton {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-top: 8px;
    border-radius: 0;
    height: 4rem;
    margin-left: 10px;
}
#addButton:hover {
    border-bottom: solid #E76F51 4px;
}
.Modal {
    color: #2A9D8F;
    width: 300px;
}
.Modal input {
    display: block;
    width: 90%;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 7px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.Modal input::placeholder {
    font-size: 12px;    
}
.Modal textarea {
    width: 90%;
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: -5px;
}
.Modal textarea::placeholder {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.Modal input[type=submit] {
    background-color: #2A9D8F;
    color: white;
    border-radius: 2px;
    border: solid #2A9D8F 1px;
    margin-top: 10px;
}
.modal-title {
    padding-left: 2rem;
    font-size: 1.5rem;
}
.Modal form {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    padding-right: .5rem;
}
.btn:focus {
    box-shadow: 0;
}