@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

.nav-bar {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    height: 4em;
    color: black;
    border-bottom: solid #efefef 1px;
}
#logo {
    max-width: 175px;
    margin-left: 10%;
    margin-top: -10px;
}
.discover-button {
    padding-left: 15px;
    padding-right: 15px;
    border-top: none;
    border-right: none;
    border-left: none; 
    font-size: 16px;
    padding-top: 19px;
}
.discover-button button {
    border: none;
}
.discover-button:focus {
    outline: none;
}
.discover-button:hover {
    border-bottom: solid #E76F51 4px;
}
#discover {
    font-family: 'Lato', sans-serif;
}
.nav-bar a {
    color: black;
}
.nav-bar a:hover {
    text-decoration: none;
    color: black;
}

.nav-bar h4 {
    margin-left: 25px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}
.new-adventure Button {
    font-size: 16px;
    padding-top: 19px;
}
.new-adventure {
    padding-bottom: 11px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.new-adventure:hover {
    border-bottom: solid #E76F51 4px;
}
.register-nav {
    display: flex;
}
.register-nav Button {
    font-size: 16px;
    padding-top: 19px;
} 
.Register {
    position: absolute;
    right: 11%;
    padding-bottom: 11px;
    font-size: 10px;
}
.Login {
    position: absolute;
    right: 20%;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 10px;
}
.Login:hover {
    border-bottom: solid #E76F51 4px;
}
.Register:hover {
    border-bottom: solid #E76F51 4px;
}
#log-out {
    position: absolute;
    right: 11%;
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    border: none;
    font-size: 16px;
    padding-top: 19px;
    padding-bottom: 17px;
}
#log-out:hover {
    border-bottom: solid #E76F51 4px;
}
.Modal button:focus {
    box-shadow: none;
}
