.container {
    word-wrap: break-word;
    background-color: #fff;
    margin-top: 25%;
    max-width: 90vw;
}
.send-button{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #2A9D8F;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    width: 100%;
    height: calc(1.5em + .75rem + 2px); 
    background-clip: padding-box;           
}
.messages {
    line-height: 2;
    text-align: left;
}