@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

.list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 50px; */
}
.list-container h2 {
    margin-top: 3%;
    text-transform: lowercase;
}
.adventure-list-images {
    border: solid white 5px;
    max-height: 270px;
}
li {
    list-style: none;
    max-width: 33%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
}

.list-header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
}
.list-where {
    text-transform: uppercase;
}
h5 {
    font-size: 1.5vw;
}
.modal-image{
    max-width: 98%;
}
#show-button {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    padding: 3%;
}
#show-button img {
    max-height: 270px;
}
/* delete button */
#delete-btn {
    background-color: #E76F51;
    border: solid #E76F51 1px;
    border-radius: 2px;
    color: white;
    padding: 8px 15px 8px 15px;
    margin-right: 10px;
}

#updateButton {
    color: #E76F51;
    border: solid #E76F51 1px;
    border-radius: 2px;
    padding: 8px 15px 8px 15px;
    margin-right: 10px;
}
@media only screen and (max-width: 600px) {
    .list-container {
        display: block;
    }
    .adventure-list-images {
        max-width: 350px;
    }
    ul.list-container {
        padding: 0;
        text-align: center;
    }
    .list-container li{
        display: block;
        padding-left: 3%;
    }
    #show-button {
        display: inline-block;
    }
}