@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* get inspired section */
.get-inspired{
  display: inline-grid;
  grid-template-columns: 55% 45%;
  padding-top: 10%;
  max-width: 90%;
  margin-bottom: 10%;
}
.get-inspired p{
  text-align: left;
  padding-right: 20%;
  font-family: 'Lato', sans-serif;

}
.get-inspired h2{
  text-align: left;
  padding-right: 5%;
  padding-top: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
}
.get-inspired img {
  max-width: 85%;
  margin-right: 10px;
}
.get-inspired button {
  background-color: #2A9D8F;
  display: block;
  text-align: left;
  margin-top: 25px;
  border-radius: 3px;
}
.get-inspired a {
  color: white;
  font-family: 'Lato', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
.get-inspired a:hover{
  text-decoration: none;
  color: white;

}

.home-photo {
  width: 100%;
}
.btnd:focus, .btnd:active, .btnd.active, .btnd:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
footer {
  font-size: .75rem;
  margin-top: 3%;
}
footer a{
  color:black;
}
footer a:hover {
  color: #2A9D8F;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .get-inspired {
    display: inline-block;
  }
  #get-inspired-info h2{
    display: inline-block;
    padding-right: 0;
  }
  #get-inspired-info p{
    display: inline-block;
    text-align: center;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
  }
  #get-inspired-info button{
    display: inline-block;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
  }
}